<table>
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wen</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let week of calendar">
            <td
                *ngFor="let day of week.days"
                [ngClass]="{'grey-text': day.disabled}"
                (click)="select(day.value)"
            >
                <span [ngClass]="{'blue-text': day.selected,'red-text': day.active}">
                    {{ day.value | moment:'ddd DD' }}
                </span>
            </td>
        </tr>
    </tbody>
</table>
